@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'reset.css';
@import 'animation.css';

html,body {
  display: block;
  position: fixed;
  width: 100%; height: 100%;
  overflow: hidden;
}

.wrap{
  display: block;
  position:absolute;
  width: 100%; height: 100vh;
  overflow: auto;
  font-family: 'IBM Plex Sans KR', sans-serif;
  background:url(https://images.unsplash.com/photo-1626553683558-dd8dc97e40a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80) no-repeat center / cover;
}

p {
  font-size: 17px;
  line-height: 1.2em;
  font-weight: 300;
}

button{
  font-family: 'Hahmlet', serif;
  font-size: 15px;
  font-weight: 600;
}

hr{
  opacity: 0.5;
}

audio{
  display: block;
  width: 50%;
  height: 30px;
  /* background: transparent; */
  opacity: 0.3;
  margin: 10px auto 0;
  transition: all ease 0.5s;
  filter: invert(1);
}

audio:hover{
  opacity:1;
}

.mb0{margin-bottom: 0 !important;}
.m20{margin:20px 0 !important;}
.tac{text-align: center !important;}

.loading_modal{
  display: none;
  position: fixed;
  width: 100%; height: 100%;
  background:url(https://images.unsplash.com/photo-1626553683558-dd8dc97e40a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80) no-repeat center / cover;
  z-index: 999;
}
.loading_modal>div{
  position: absolute;
  top:45%; left: 50%;
  transform: translate(-50%,-50%);
  filter: grayscale(1);
  opacity: 0.9;
}

.loading_modal>div:last-child{
  top: 65%;
  filter: grayscale(0);
  opacity: 1;
}

.loading_modal .main_tit{
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
  color: #d6d4da;
  text-shadow: 0 0 5px #000;
  animation: updown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#main,#qna,#result{
  width: 80%;
  position: relative;
  top:46%; left: 50%;
  transform: translate(-50%,-50%);
  margin: 0 0 40px;
  padding: 40px 15px;
  color: #fff;
  background:linear-gradient(to right bottom, rgba(130, 115, 145, 0.6),rgba(26, 26, 27, 0.4),rgba(0, 0, 0, 0.3));
  border: 1px solid rgba(26, 26, 27, 0.4);
  backdrop-filter: blur(3px);
  box-shadow: 0 5px 10px #00000079;
  border-radius: 20px;
}

#result{
  top:0;
  transform: translate(-50%,0);
  margin-top: 15px;
  margin-bottom: 30px;
}

#main {
    text-align: center;
}

.main_tit{
  font-size: 2em;
  font-family: 'Hahmlet', serif;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 2em;
  text-align: center;
  text-shadow: 0 0 10px #fff;
}
.main_tit::before{
  content: "✧ ✵ ✧";
  display: block;
  line-height: 1em;
}
.main_desc{
  margin-top: 10px;
}
.main_desc span{
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.btn{
  margin: 20px auto;
  padding: 10px 25px;
  text-align: center;
  letter-spacing: 0;
  background: linear-gradient(45deg,#a593c9,#381e96,#382d5e);
  border-radius: 100px;
  color: #e2dcee;
  text-shadow: 0 0 5px #a593c9;
  box-shadow: 0 5px 10px #0000005d;
  transition: all ease 0.2s;
  cursor: pointer;
}
.btn:hover{
  box-shadow: none;
  transform: translateY(2px);
}

.badge{
  display: inline-block;
  margin: 15px 0;
  padding: 8px 15px;
  background: linear-gradient(45deg,#513f86,#271e46,#120d24);
  border-radius: 100px;
  color: #e2dcee;
  text-shadow: 0 0 5px #a593c9;
  font-family: 'Hahmlet', serif;
  text-transform: uppercase;
  font-size: 12px;
}

.small{
  display: block;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.2em;
}

#qna {
  display: none;
}

.indicator{
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: absolute;
  top:20px; left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  opacity: 0.7;
}

.qBox {
  width: 90%;
  margin: 0 auto;
  padding: 20px 10px;
  background: #00000036;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  border-radius: 10px;
}

.answerBox{
  margin: 0 auto;
  padding-top: 25px;
  width: 90%;
}
.answerList {
  display: block;
  width: 100%;
  padding:10px;
  background: linear-gradient(45deg,#513f86,#271e46,#120d24);
  color: #e2dcee;
  text-shadow: 0 0 5px #0000005d;
  border-radius: 10px;
  box-shadow: 0 5px 10px #0000005d;
  cursor:pointer;
  transition: all ease 0.2s;
  font-weight: 300;
}

.answerList + .answerList{
  margin-top: 15px;
}

.answerList:hover, .answerList:focus {
  box-shadow: none;
  transform: translateY(2px);
  text-shadow: 0 0 5px #a593c9;
}

.answerType{
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
  font-weight: 700;
  text-shadow: 0 0 5px #a593c9;
}

.status {
  height:5px;
  width: 90%;
  background: #00000059;
  border-radius: 20px;
  margin:0 auto 35px;
}

.statusBar{
  position: relative;
  height: 100%;
  border-radius: 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,ff5c5c+100;Red+3D+%231 */
  background: linear-gradient(to right, #a593c9,#fff);
  transition: all ease 0.3s;
  box-shadow: 0 0 10px #fff;
}

.statusBar::after{
  content: "✶";
  position: absolute;
  top:50%; right: -5px;
  transform: translateY(-50%);
  font-size: 20px;
  text-shadow: 0 0 5px #382d5e;
}

#result{
  display: none;
  text-align: center;
}

#result img.img-fluid{
  width: 50%;
  margin: 30px auto;
  filter: hue-rotate(300deg) brightness(1.5);
}

#result > h1::before{
  content:"✧ ✵ ✧";
  display: block;
  margin-bottom: 5px;
}

.resultName {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Hahmlet', serif;
  margin: 20px 0;
  text-shadow: 0 0 10px #a593c9;
}

#resultImg{
  margin-top: 20px;
}

.resultDesc strong{
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Hahmlet', serif;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #a593c9;
}
.resultDesc strong::before{
  content:"✵";
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

.resultDesc strong:last-of-type::before{
  margin-top: 40px;
}

.resultName1,.resultName2{
  display: inline-block;
  padding: 0 3px;
  font-weight: 700;
  text-shadow: 0 0 10px #a593c9;
}

.resultDesc1,.resultDesc2{
  margin: 10px 0;
  padding: 20px 10px;
  background: #0000005e;
  text-align: center;
  font-weight: 300;
  border-radius: 10px;
  line-height: 1.5em;
  font-size: 14px;
}

.lottie_box{
  position: absolute;
  top:50px;
  left: 50%;
  transform: translateX(-50%);
}

.resultDescCont1,
.resultDescCont2{
  margin: 10px 0;
  padding:10px 15px 25px;
  background: #0000005e;
  font-weight: 300;
  border-radius: 10px;
  line-height: 1.5em;
  font-size: 14px;
  text-align: left;
}

.resultDescCont1 .badge,
.resultDescCont2 .badge{
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
}

.resultDesc1 em,
.resultDesc2 em{
  font-weight: bold;
  font-style: normal;
}
